Repository arangodb/oskar, pull requests merged in 2021-06, with the labels that each got.

#323 Add additional push to GCR registry for preview docker images
  helper.fish
  helper.linux.fish
  jenkins/forTestDocker.fish
  jenkins/nightlyDocker3.4.fish
  jenkins/nightlyDockerDevel.fish
  jenkins/nightlyPackages3.2.fish
  jenkins/nightlyPackages3.3.fish
  jenkins/nightlyPackages3.4.ps1
Labels: Docker, enhancement

#326 Check that user credentials are defined before trying to download syncer
  helper.linux.fish
Labels: bug

#324 Update ubi8/ubi-minimal to 8.4 in containers
  containers/arangodb36ubi.docker/Dockerfile
  containers/arangodb37ubi.docker/Dockerfile
  containers/arangodb38ubi.docker/Dockerfile
  containers/arangodbDevelubi.docker/Dockerfile
Labels: Docker
