Repository arangodb/oskar, pull requests merged in 2021-08, with the labels that each got.

#332 Update ArangoDB images to Alpine 3.14
  containers/arangodb36.docker/Dockerfile
  containers/arangodb37.docker/Dockerfile
  containers/arangodb38.docker/Dockerfile
  containers/arangodbDevel.docker/Dockerfile
Labels: Docker, enhancement

#334 Attempt to remove binutils from Alpine-based ArangoDB docker images
  containers/arangodb36.docker/Dockerfile
  containers/arangodb37.docker/Dockerfile
  containers/arangodb38.docker/Dockerfile
  containers/arangodbDevel.docker/Dockerfile
Labels: Docker, bug

#335 Fix ^ redirections for fish 3.3+
  helper.fish
  jenkins/helper/jenkins.fish
Labels: bug, fish

#337 Bug fix/enable versioned devel publish
  jenkins/nightlyUploadFiles.fish
Labels: Jenkins, Packaging

#319 Feature/dual ldap
  containers/ldap.docker/.dockerignore
  containers/ldap.docker/.gitignore
  containers/ldap.docker/.ldaprc
  containers/ldap.docker/CONTRIBUTING.md
  containers/ldap.docker/Dockerfile
  containers/ldap.docker/LICENCE.md
  containers/ldap.docker/Makefile
  containers/ldap.docker/README.md
  containers/ldap.docker/README_certificates.md
  containers/ldap.docker/Vagrantfile
  containers/ldap.docker/arangodbcerts/ca.key
  containers/ldap.docker/arangodbcerts/ca.pem
  containers/ldap.docker/arangodbcerts/ca.srl
  containers/ldap.docker/arangodbcerts/client.key
  containers/ldap.docker/arangodbcerts/client.pem
  containers/ldap.docker/arangodbcerts/server.key
  containers/ldap.docker/arangodbcerts/server.pem
  containers/ldap.docker/arangodbldif/users.ldif
  containers/ldap.docker/default.pp
  containers/ldap.docker/docker-compose.yml
  containers/ldap.docker/docker-entrypoint.sh
  containers/ldap.docker/makecerts.sh
  containers/ldap.docker/scripts/organisation.ldif
  containers/ldap.docker/scripts/slapd.conf
  containers/ldap.docker/scripts/users.ldif
  containers/ldap.docker/settings.yaml
  helper.linux.fish
  scripts/runFullTests.fish
  scripts/runOneTest.fish
Labels: enhancement

#336 Add allMetrics.yaml generation to docs
  containers/buildAlpine4.docker/Dockerfile
  containers/buildAlpine5.docker/Dockerfile
  helper.fish
  helper.linux.fish
  scripts/buildExamples.fish
Labels: Documentation, bug
