Repository arangodb/oskar, pull requests merged in 2022-06, with the labels that each got.

#391 Add option to build sepp
  helper.fish
  helper.linux.fish
  jenkins/sepp/analyze-sepp.py
  jenkins/sepp/insert-test.json
  jenkins/sepp/iterate-test.json
  scripts/buildAlpine3.fish
  scripts/buildAlpine4.fish
  scripts/buildAlpine5.fish
  scripts/buildArangoDB3.fish
  scripts/buildArangoDB4.fish
  scripts/buildArangoDB5.fish
Labels: enhancement

#386 Test definition from repo
  jenkins/helper/generate_jenkins_scripts.py
  scripts/runFullTests.fish
  scripts/runFullTests.ps1
  scripts/runTests.fish
  scripts/runTests.ps1
Labels: enhancement

#394 shebang br0x0rn
  helper.linux.fish
  scripts/runFullTests.fish
  scripts/runTests.fish
Labels: bug, Linux

#396 Update Cppcheck to 2.8
  containers/cppcheck.docker/tools/install.sh
  helper.linux.fish
Labels: cppcheck
